* {
  margin: 0;
}

html, body{
	color: #000000;
	/*background-image: url("");*/
	border-color: #dddddd;
	font-size: 18px;
	line-height: 34px;
	font-family: 'Roboto', sans-serif;
	/*background-image: url("../images/magicBall.png");*/
    /*background-repeat: no-repeat;*/
    background-color: #b6e3e0;  /*#FFFFFF - white*/
    height: 100%;  	
}
.wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -4em;
}
/*.mainHeader{
	columns: 
}*/
#game {
	text-align: left;
}
#footer-container {
	width: 100%;
	max-width: 960px;
	margin: 0 auto;
	clear: both;	
}

.footer, .push {
  height: 4em;
  text-align: center;
}